node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local

logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

.DS_Store
Thumbs.db
desktop.ini


dist/
build/
out/
.cache/
coverage/
.tmp/


frontend/node_modules/
frontend/dist/
frontend/build/

.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace

*.bak
*.swp
*.swo
*.swn
